{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<div class="main">
    <h1>sample</h1>
    <form action="sample.php?load=1" method="post">
        <label for="name">fp:</label>
	<input type="text" id="fp" name="fpinfo"></br>
        <label for="name">request_cd:</label>
        <input type="text" name="request_cd" required minlength="1" maxlength="1" value="1"></br>
        <label for="name">tel:</label>
	<input type="text" name="tel" required minlength="10" maxlength="11"></br>
        <label for="name">pre_tel:</label>
        <input type="text" name="pre_tel" minlength="10" maxlength="11"></br>
	<label for="name">timer:</label>
        <input type="text" id="txttimer" name="txttimer" required ></br>
	<button type="submit" name="auth">認証</button><div id="tel_link"><a href="tel:050-8885-1386">050-8885-1386</a><div>
	<br><br>
        <label for="name">changedTel:</label><label id="tel"></label><br>
	<label for="name">timer:</label><label id="timer">60</label><br>
        <label id="status"></label>
    </form>

    <br><!-- button id="auth_btn" type="button" onclick="OnButtonClick();">
      デバイス削除
    </button -->

  </div>